@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior:smooth;
}
body {
  font-family: "Quicksand", sans-serif;
}
.backdrop-blur{
  backdrop-filter:blur(10px)
}
@media only screen and (min-width:768px){
  .nav-width{
    width:calc(70% / 4);
  }
}
body::-webkit-scrollbar{
  width:2px;
}
body::-webkit-scrollbar-track{
  border:none;
  background:#111827;
}
body::-webkit-scrollbar-thumb{
  border-radius:10px;
  background:#E5E7EB;
}